<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section class="main">
        <input class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
            {{#each todos}}
                {{#[./helpers/filterItems] @root.state}}
                <li data-id="{{id}}" class="task-{{completed}}">
                    <div class="view">
                        {{#if completed}}
                            <input class="toggle" type="checkbox" data-id="{{id}}" checked="checked">
                        {{else}}
                            <input class="toggle" type="checkbox" data-id="{{id}}">
                        {{/if}}
                        <label>{{text}}</label>
                        <button class="destroy" data-id="{{id}}"></button>
                    </div>
                </li>
                {{/[./helpers/filterItems]}}
            {{/each}}
        </ul>
    </section>

<!--h("div",[
    h("section.todoapp", [
        h("header.header",[
            h("h1", "todos"),
            h("input.new-todo", {
                "placeholer": "What needs to be done?",
                "autofocus": true,
            })
        ]),
        h("section.main", [
            h("input.toggle-all", {
                "type": "checkbox"
            }),
            h("label", {
                "for": "toggle-all"
            }, "Mark all as complete"),
            h("ul.todo-list")
        ]),
        h("footer.footer", [])
    ]),
    h("footer.info", [
        h("p", "Built using Truss")
    ])
])-->
    <footer class="footer">
        <span class="todo-count">
            {{[./helpers/leftCount] todos}} items left.
        </span>
        <ul class="filters">
            <li>
                <a href="javascript:void(0)" class="state-all {{#if state.showAll}} selected {{/if}}">All</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="state-active {{#if state.showActive}} selected {{/if}}">Active</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="state-completed {{#if state.showCompleted}} selected {{/if}}">Completed</a>
            </li>
        </ul>
        {{#[./helpers/showCompletedLink] todos}}
            <button class="clear-completed">Clear completed</button>
        {{/[./helpers/showCompletedLink]}}
    </footer>
</section>
<footer class="info">
    <p>Built using Truss</p>
</footer>