<div>
    <legend>{{title}}</legend>

    {{#each fields}}
    <div class="form-group">
            <label class="control-label" for="{{name}}">
                {{label}}
                {{#if usedFor}}
                <span title="{{usedFor}}">?</span>
                {{/if}}
            </label>

            <div class="controls">
                <span uif-append="{{name}}"></span>
            </div>

            <span uif-field-loader="{{name}}" class="hide help-inline"> </span>
            <span uif-field-err-message="{{name}}" class="help-inline error"></span>
    </div>
    {{/each}}
</div>